<div class="section"><!--
--><h3><a href="/dummy/{{ post.masuda_id }}"><span class="sanchor">■</span></a>{{ post.title }} {% if user and user.username == post.user_id %}<a class="edit" href="/dummy/{{ user.username }}/edit?id={{ post.masuda_id }}"><img alt="編集" class="icon" height="10" src="/images/edit.gif" title="編集" width="10"></a>{% endif %}</h3><!--
  --><div class="afc ad-in-entry-block" id="title-below-ad"></div><!--
  -->{% for line in post.lines %}<p>{{ line | safe }}</p>{% endfor %}<!--
  --><p class="sectionfooter"><a href="/{{ post.masuda_id }}">Permalink</a> | <a href="/{{ post.masuda_id }}#tb">記事への反応({{ post.response_count }})</a>{% if user %} | <a class="mention-link" href="/masuda/edit?title=anond%3A{{ post.masuda_id }}"><span>言及する</span></a>{% endif %}<span class="wide"> |</span> {{ post.posted_at|date:'H:i' }} </p><!--
  --><p class="share-button">B! ブックマーク {{ post.bookmark_count }} <!--
    --><a class="tw-share-button" href="" target="_blank"><span class="icon"></span><span class="label">ツイート</span></a><a class="fb-share-button" href="" target="_blank"><span class="icon"></span><span class="label">シェア</span></a></p><!--
--></div>