<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="/images/favicon.ico" rel="shortcut icon">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" name="viewport">
  <meta content="origin" name="referrer">
  <meta content="日記の編集 - {{ user.username }}の日記" property="og:title">
  <meta content="blog" property="og:type">
  <meta content="{{ site_name }}" property="og:site_name">
  <!-- <link href="https://cdn.www.st-hatena.com/css/global.css" rel="stylesheet"> -->
  <link href="/static/dummy/css/bundle.css?20210402" rel="stylesheet">
  <link rel="icon" href="/static/dummy/images/favicon.ico" />
  <title>日記の編集 - {{ user.username }}の日記</title>
  <script src="/js/main.js"></script>
</head>
<body id="page-edit">
  {% include 'dummy/layouts/header.html' %}
  <div class="hatena-body" id="hatena-anond">
    <ul id="breadcrumbs">
      <li><a href="/dummy/">{{ site_name }}</a></li>
      <li><a href="/dummy/{{ user.username }}/">{{ user.username }}の日記</a></li>
      <li>日記の編集</li>
    </ul>
    <h1>日記の編集</h1>
    <div id="body"><noscript><div class="error"><p> JavaScriptを有効にしてください。 </div></noscript>
      <form action="/dummy/{{ user.username }}/edit" method="post" name="edit"><input name="rkm" type="hidden" value="w9wr6jYcOu5ED/7SCl/GyQ"> <input name="mode" type="hidden" value="confirm"> <input name="id" type="hidden" value="{% if post %}{{ post.masuda_id }}{% endif %}"> <input name="recaptcha_token" type="hidden" value="">
        {% csrf_token %}
        <div class="day">
          <h2><a href="/dummy/{{ user.username }}/{{ post.posted_at|date:'Ymd' }}"><span class="date">{{ post.posted_at|date:'Y-m-d' }}</span></a></h2>
          <div class="body">
            <p id="draft-restored" style="display: none">以前に書いていた内容を復帰しました。<a href="#" id="draft-restored-clear">クリアする</a></p>
            <div class="section"><input id="text-title" name="title" placeholder="日記のタイトル" size="80" type="text" value="{% if post %}{{ post.title }}{% endif %}"><textarea cols="60" id="text-body" name="body" placeholder="内容" rows="15">{% if post %}{{ post.body }}{% endif %}</textarea></div>
          </div>
        </div>
        <p class="post-submit"><input name="preview" type="submit" value="確認する"> <input class="post-button" id="submit-button" type="submit" value="この内容を登録する"> <span class="explain">{{ company_name }}記法が一部使えます<a class="out" href="http://hatenadiary.g.hatena.ne.jp/keyword/%e3%81%af%e3%81%a6%e3%81%aa%e8%a8%98%e6%b3%95%e4%b8%80%e8%a6%a7" target="_blank">{{ company_name }}記法一覧</a></span></p>
        <hr>
        <p class="post-submit"><input class="delete-button" name="delete" onclick="return confirm('この日記を削除します。よろしいですか?')" type="submit" value="削除する"></p>
      </form>
    </div>
  </div>
  {% include 'dummy/layouts/narrow.html' %}
  {% include 'dummy/layouts/footer.html' %}
</body>
</html>