<html lang="ja">
<head>
  <meta charset="UTF-8">
  <link href="/images/favicon.ico" rel="shortcut icon">
  <meta content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, viewport-fit=cover" name="viewport">
  <meta content="article" property="og:type">
  <link rel="icon" href="/static/dummy/images/favicon.ico" />
  <meta content="{{ site_name }}" property="og:site_name">
  <script src="/js/trackback.js?170529"></script>
  <!-- <link href="https://cdn.www.st-hatena.com/css/global.css" rel="stylesheet"> -->
  <link href="/static/dummy/css/bundle.css?20210402" rel="stylesheet">
  <title>{{ post.title }}</title>
</head>
<body id="entry-page">
  {% include 'dummy/layouts/header.html' %}
  <div class="hatena-body" id="hatena-anond">
    <ul id="breadcrumbs">
      <li><a href="/dummy/">{{ site_name }}</a></li>
      <li><input class="select" onfocus="this.select()" size="30" type="text" value="anond:{{ post.masuda_id }}"></li>
    </ul>
    <div id="body">
      {% if not post %}
      <p class="error" id="message">おさがしのページは見つかりませんでした</p>
      {% else %}
      <div class="navigation"><a href="/20000101000000">&lt; anond:20000101000000</a> | <a href="/20000101000000">anond:20000101000000 &gt;</a></div>
      <div id="ad-overlay-bottom-sp-1"></div>
      <div class="day">
        <h2><a href="{{ post.posted_at|date:'Ymd' }}"><span class="date">{{ post.posted_at|date:'Y-m-d' }}</span></a></h2>
        <div class="body">
          {% include 'dummy/layouts/post.html' %}
        </div>
        <div class="refererlist">
          <div class="caption"><a name="tb">記事への反応</a> - <input class="select" onfocus="this.select()" size="30" type="text" value="anond:{{ post.masuda_id }}"></div>
          <ul>
            
            <li>
              <div class="trackback-header"><a href="/dummy/{{ post.masuda_id }}">anond:{{ post.masuda_id }}</a> <a href="#" onclick="toggleTBContent('{{ post.masuda_id }}'); return false;"><img class="icon" height="15" id="toggle-image-20201209010601" src="/images/common/open.gif" width="15"></a> <a class="bookmark-icon" href="" style="display: none;"><img class="icon" onload="if (this.naturalWidth === 1) this.parentNode.style.display = 'none'" src=""></a></div>
              <div class="box-curve">
                <div id="excerpt-{{ post.masuda_id }}">
                  <p> 虎場 </p>
                </div>
              </div>
              <ul>
                <li>
                  <div class="trackback-header"><a href="/dummy/{{ post.masuda_id }}">anond:{{ post.masuda_id }}</a> <a href="#" onclick="toggleTBContent('{{ post.masuda_id }}'); return false;"><img class="icon" height="15" id="toggle-image-20201209010601" src="/images/common/open.gif" width="15"></a> <a class="bookmark-icon" href="" style="display: none;"><img class="icon" onload="if (this.naturalWidth === 1) this.parentNode.style.display = 'none'" src=""></a></div>
                  <div class="box-curve">
                    <div id="excerpt-{{ post.masuda_id }}">
                      <p> 虎場 </p>
                    </div>
                  </div>
                </li>
              </ul>
            </li>

          </ul>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  {% include 'dummy/layouts/narrow.html' %}
  {% include 'dummy/layouts/footer.html' %}
  
</body>
</html>